@charset "UTF-8";


a.loginBtn {
	display:inline-block; 
	width:30%; 
	height:46px; 
	margin:0; 
	padding:0;
	color:#fff; 
	font-weight:700; 
	text-align:center; 
	line-height:46px; 
	border:0; 
	background-color:#4876ef;
}

a.loginBtn:hover, a.loginBtn:focus {
	text-decoration:none;
}

.findMember, .join {
	color:#949494;
	font-size:12px;
}


.findMember:hover, .join:hover {
	text-decoration: underline
}

#loginSubdiv > ul > li{
	display: inline-block;
}
#rankingBody > tr:hover{
	cursor: pointer;
}