<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<resultMap type="com.spring.biz.vo.BoardVO" id="board">
		<result column="BOARD_NUM" 			property="boardNum"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT" 		property="boardContent"/>
		<result column="BOARD_VIEWS" 		property="boardViews"/>
		<result column="BOARD_DATE" 		property="boardDate"/>
		<result column="BOARD_WRITER"		property="boardWriter"/>
		<result column="BOARD_WRITER_NAME"	property="boardWriterName"/>
		<result column="BOARD_COUNT"		property="boardCount"/>
		<result column="DEL_YN"				property="delYn"/>
		<result column="COMENT_CNT"			property="comentCnt"/>
	</resultMap>
	<resultMap type="com.spring.biz.vo.BoardVO2" id="board2">
		<result column="BOARD2_NUM" 			property="board2Num"/>
		<result column="BOARD2_TITLE" 			property="board2Title"/>
		<result column="BOARD2_CONTENT" 		property="board2Content"/>
		<result column="BOARD2_VIEWS" 			property="board2Views"/>
		<result column="BOARD2_DATE" 			property="board2Date"/>
		<result column="BOARD2_WRITER"			property="board2Writer"/>
		<result column="BOARD2_WRITER_NAME"		property="board2WriterName"/>
		<result column="BOARD2_COUNT"			property="board2Count"/>
		<result column="DEL_YN2"				property="delYn2"/>
		<result column="COMENT_CNT2"			property="comentCnt2"/>
	</resultMap>
	<resultMap type="com.spring.biz.vo.BoardComentVO" id="boardComent">
		<result column="BOARDCOMENT_NUM" 			property="boardComentNum"/>
		<result column="BOARDCOMENT_WRITER" 		property="boardComentWriter"/>
		<result column="BOARDCOMENT_EMAIL" 			property="boardComentEmail"/>
		<result column="BOARDCOMENT_CONTENT" 		property="boardComentContent"/>
		<result column="BOARDCOMENT_DATE" 			property="boardComentDate"/>
		<result column="BOARD_NUM" 					property="boardNum"/>

	</resultMap>
	<resultMap type="com.spring.biz.vo.Board2ComentVO" id="board2Coment">
		<result column="BOARD2COMENT_NUM" 			property="board2ComentNum"/>
		<result column="BOARD2COMENT_WRITER" 		property="board2ComentWriter"/>
		<result column="BOARD2COMENT_EMAIL" 		property="board2ComentEmail"/>
		<result column="BOARD2COMENT_CONTENT" 		property="board2ComentContent"/>
		<result column="BOARD2COMENT_DATE" 			property="board2ComentDate"/>
		<result column="BOARD2_NUM" 				property="board2Num"/>

	</resultMap>
	

<select id="selectFreeBoardList" resultMap="board">
SELECT ROW_NUM
    ,BOARD_NUM
    ,BOARD_TITLE
    ,BOARD_WRITER
    ,BOARD_VIEWS
    ,BOARD_DATE
    ,BOARD_WRITER_NAME
    ,BOARD_CONTENT
    ,DEL_YN
    ,COMENT_CNT
FROM
(
    SELECT ROWNUM AS ROW_NUM
        ,BOARD_NUM
        ,BOARD_TITLE
        ,BOARD_WRITER
        ,BOARD_VIEWS
        ,BOARD_DATE
        ,BOARD_WRITER_NAME
        ,BOARD_CONTENT
        ,DEL_YN
        ,COMENT_CNT
    FROM
    (
        SELECT BOARD_NUM
                ,BOARD_TITLE
                ,BOARD_WRITER
                ,BOARD_VIEWS
                ,TO_CHAR(BOARD_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARD_DATE
                ,BOARD_WRITER_NAME
                ,BOARD_CONTENT
                ,DEL_YN
                ,(SELECT COUNT(BOARDCOMENT_NUM) FROM BOARDCOMENT WHERE BOARD_NUM = B.BOARD_NUM) AS COMENT_CNT
        FROM BOARD B 
        WHERE DEL_YN='N'
       
        ORDER BY B.BOARD_NUM DESC
    )
)
WHERE ROW_NUM BETWEEN #{start} AND #{end}
</select>

<select id="selectMyFreeBoardList" resultMap="board">
SELECT ROW_NUM
    ,BOARD_NUM
    ,BOARD_TITLE
    ,BOARD_WRITER
    ,BOARD_VIEWS
    ,BOARD_DATE
    ,BOARD_WRITER_NAME
    ,BOARD_CONTENT
    ,COMENT_CNT
FROM
(
    SELECT ROWNUM AS ROW_NUM
        ,BOARD_NUM
        ,BOARD_TITLE
        ,BOARD_WRITER
        ,BOARD_VIEWS
        ,BOARD_DATE
        ,BOARD_WRITER_NAME
        ,BOARD_CONTENT
        ,COMENT_CNT
    FROM
    (
        SELECT BOARD_NUM
                ,BOARD_TITLE
                ,BOARD_WRITER
                ,BOARD_VIEWS
                ,TO_CHAR(BOARD_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARD_DATE
                ,BOARD_WRITER_NAME
                ,BOARD_CONTENT
                ,(SELECT COUNT(BOARDCOMENT_NUM) FROM BOARDCOMENT WHERE BOARD_NUM = B.BOARD_NUM) AS COMENT_CNT
        FROM BOARD B
        ORDER BY BOARD_NUM DESC
    )
)
<choose>
	<when test="memName!=''">
	WHERE BOARD_WRITER_NAME = #{memName}
	</when>
	<otherwise>
	WHERE BOARD_WRITER_NAME = #{comName}
	</otherwise>
</choose>

</select>

<select id="selectMyQaBoardList" resultMap="board2">
SELECT ROW_NUM
    ,BOARD2_NUM
    ,BOARD2_TITLE
    ,BOARD2_WRITER
    ,BOARD2_VIEWS
    ,BOARD2_DATE
    ,BOARD2_WRITER_NAME
    ,BOARD2_CONTENT
    ,COMENT_CNT2
FROM
(
    SELECT ROWNUM AS ROW_NUM
        ,BOARD2_NUM
        ,BOARD2_TITLE
        ,BOARD2_WRITER
        ,BOARD2_VIEWS
        ,BOARD2_DATE
        ,BOARD2_WRITER_NAME
        ,BOARD2_CONTENT
        ,COMENT_CNT2
    FROM
    (
        SELECT BOARD2_NUM
                ,BOARD2_TITLE
                ,BOARD2_WRITER
                ,BOARD2_VIEWS
                ,TO_CHAR(BOARD2_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARD2_DATE
                ,BOARD2_WRITER_NAME
                ,BOARD2_CONTENT
                ,(SELECT COUNT(BOARD2COMENT_NUM) FROM BOARD2COMENT WHERE BOARD2_NUM = B.BOARD2_NUM) AS COMENT_CNT2
        FROM BOARD2 B
        ORDER BY BOARD2_NUM DESC
    )
)
<choose>
	<when test="memName!=''">
	WHERE BOARD2_WRITER_NAME = #{memName}
	</when>
	<otherwise>
	WHERE BOARD2_WRITER_NAME = #{comName}
	</otherwise>
</choose>

</select>

<!-- 큐게 전체 -->
<select id="selectQaBoardList" resultMap="board2">
SELECT ROW2_NUM
    ,BOARD2_NUM
    ,BOARD2_TITLE
    ,BOARD2_WRITER
    ,BOARD2_VIEWS
    ,BOARD2_DATE
    ,BOARD2_WRITER_NAME
    ,BOARD2_CONTENT
    ,DEL_YN2
    ,COMENT_CNT2
FROM
(
    SELECT ROWNUM AS ROW2_NUM
        ,BOARD2_NUM
        ,BOARD2_TITLE
        ,BOARD2_WRITER
        ,BOARD2_VIEWS
        ,BOARD2_DATE
        ,BOARD2_WRITER_NAME
        ,BOARD2_CONTENT
        ,DEL_YN2
        ,COMENT_CNT2
    FROM
    (
        SELECT BOARD2_NUM
                ,BOARD2_TITLE
                ,BOARD2_WRITER
                ,BOARD2_VIEWS
                ,TO_CHAR(BOARD2_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARD2_DATE
                ,BOARD2_WRITER_NAME
                ,BOARD2_CONTENT
                ,DEL_YN2
                ,(SELECT COUNT(BOARD2COMENT_NUM) FROM BOARD2COMENT WHERE BOARD2_NUM = B.BOARD2_NUM) AS COMENT_CNT2
        FROM BOARD2 B
        WHERE DEL_YN2 = 'N'
        ORDER BY B.BOARD2_NUM DESC
        
    )
)
WHERE ROW2_NUM BETWEEN #{start} AND #{end}
</select>

<!-- 자게 검색 -->
<select id="selectFBoardSearchList" resultMap="board">
	SELECT BOARD_NUM
		,BOARD_TITLE
		,BOARD_WRITER
		,BOARD_VIEWS
		,BOARD_DATE 
		,BOARD_WRITER_NAME
		,BOARD_CONTENT
		,(SELECT COUNT(BOARDCOMENT_NUM) FROM BOARDCOMENT WHERE BOARD_NUM = B.BOARD_NUM) AS COMENT_CNT
	FROM BOARD B
	WHERE DEL_YN ='N'	
	
	<if test="select != '전체' and search != ''">
		AND ${select} LIKE UPPER('%'||#{search}||'%')
	</if>

	<if test="select != '전체' and search == ''">
		AND ${select} LIKE UPPER('%'||#{search}||'%')
	</if>
	<if test="select == '전체' and search != ''">
		AND (
			BOARD_TITLE LIKE UPPER('%'||#{search}||'%')
			OR BOARD_CONTENT LIKE UPPER('%'||#{search}||'%')
			OR BOARD_WRITER_NAME LIKE UPPER('%'||#{search}||'%')
			)
	</if>	
	ORDER BY BOARD_DATE DESC
</select>

<!-- 큐게 검색 -->
<select id="selectQBoardSearchList" resultMap="board2">
	SELECT BOARD2_NUM
		,BOARD2_TITLE
		,BOARD2_WRITER
		,BOARD2_VIEWS
		,BOARD2_DATE
		,BOARD2_WRITER_NAME
		,BOARD2_CONTENT
		,(SELECT COUNT(BOARD2COMENT_NUM) FROM BOARD2COMENT WHERE BOARD2_NUM = B.BOARD2_NUM) AS COMENT_CNT2
	FROM BOARD2	B
	WHERE DEL_YN2 ='N'
	<if test="select2 != '전체' and search2 != ''">
		AND ${select2} LIKE UPPER('%'||#{search2}||'%')
	</if>
	<if test="select2 != '전체' and search2 == ''">
		AND ${select2} LIKE UPPER('%'||#{search2}||'%')
	</if>
	<if test="select2 == '전체' and search2 != ''">
		AND (
			BOARD2_TITLE LIKE UPPER('%'||#{search2}||'%')
			OR BOARD2_CONTENT LIKE UPPER('%'||#{search2}||'%')
			OR BOARD2_WRITER_NAME LIKE UPPER('%'||#{search2}||'%')
			)
	</if>	
	ORDER BY BOARD2_DATE DESC
</select>


<!-- 자게 insert -->
<insert id="insertFreeBoard">
	INSERT INTO BOARD (
		BOARD_NUM
		,BOARD_TITLE
		,BOARD_CONTENT
		,BOARD_WRITER
		,BOARD_WRITER_NAME  
	) VALUES (
		(SELECT NVL(MAX(BOARD_NUM) + 1 , 1) FROM BOARD)
		,#{boardTitle}
		,#{boardContent}
		,#{boardWriter}	
		,#{boardWriterName}	
	)
</insert>

<!-- 큐게 insert -->
<insert id="insertQaBoard">
	INSERT INTO BOARD2 (
		BOARD2_NUM
		,BOARD2_TITLE
		,BOARD2_CONTENT
		,BOARD2_WRITER
		,BOARD2_WRITER_NAME  
	) VALUES (
		(SELECT NVL(MAX(BOARD2_NUM) + 1 , 1) FROM BOARD2)
		,#{boardTitle}
		,#{boardContent}
		,#{boardWriter}	
		,#{boardWriterName}	
	)
</insert>


<!-- 자게 상세 -->
<select id="selectDFBoard" resultMap="board">
	SELECT BOARD_NUM 
	    ,BOARD_TITLE
	    ,BOARD_WRITER
	    ,BOARD_DATE
	    ,BOARD_VIEWS
	    ,BOARD_CONTENT
	    ,BOARD_WRITER_NAME
	FROM BOARD
	WHERE BOARD_NUM=#{boardNum}
</select>

<!-- 큐게 상세 -->
<select id="selectDQBoard" resultMap="board2">
	SELECT BOARD2_NUM 
	    ,BOARD2_TITLE
	    ,BOARD2_WRITER
	    ,BOARD2_DATE
	    ,BOARD2_VIEWS
	    ,BOARD2_CONTENT
	    ,BOARD2_WRITER_NAME
	FROM BOARD2
	WHERE BOARD2_NUM=#{board2Num}
</select>

<!-- 자게 조회수 증가 -->
<update id="updateFreeViews">
		UPDATE BOARD
		SET BOARD_VIEWS = (SELECT (MAX(BOARD_VIEWS) +1) FROM BOARD WHERE BOARD_NUM = #{boardNum})
		WHERE BOARD_NUM = #{boardNum}
</update>

<!-- 큐게 조회수 증가 -->
<update id="updateQaViews">
		UPDATE BOARD2
		SET BOARD2_VIEWS = (SELECT (MAX(BOARD2_VIEWS) +1) FROM BOARD2 WHERE BOARD2_NUM = #{boardNum})
		WHERE BOARD2_NUM = #{boardNum}
</update>


<!-- 자게 게시글 개수 -->
<select id="countFreeBoard" resultType="int">
	SELECT COUNT(*) FROM BOARD
	WHERE DEL_YN = 'N'
</select>

<!-- 큐게 게시글 개수 -->
<select id="countQaBoard" resultType="int">
	SELECT COUNT(*) FROM BOARD2
	WHERE DEL_YN2 = 'N'
</select>

<!-- 자게 삭제 -->
<update id="deleteFBoard">
	UPDATE BOARD SET
		DEL_YN = 'Y'
	WHERE BOARD_NUM = #{boardNum}
   	AND BOARD_WRITER = #{boardWriter}
</update>

<!-- 큐게 삭제 -->
<delete id="deleteQBoard">
	DELETE BOARD2
	WHERE BOARD2_NUM = #{boardNum}
   	AND BOARD2_WRITER = #{boardWriter}
</delete>
	
<!-- 	자게 수정 -->
<update id="updateFBoard">
	UPDATE BOARD SET 
		BOARD_TITLE=#{boardTitle}
		,BOARD_CONTENT =#{boardContent}
		,BOARD_DATE = SYSDATE
	WHERE BOARD_NUM = #{boardNum}
    AND BOARD_WRITER = #{boardWriter}	
</update>

<!-- 	큐게 수정 -->
<update id="updateQBoard">
	UPDATE BOARD2 SET 
		BOARD2_TITLE=#{board2Title}
		,BOARD2_CONTENT =#{board2Content}
		,BOARD2_DATE = SYSDATE
	WHERE BOARD2_NUM = #{board2Num}
    AND BOARD2_WRITER = #{board2Writer}	
</update>



<!-- 자유게시판 댓글 조회 -->
 <select id="selectBoardComent" resultMap="boardComent">
	SELECT BOARDCOMENT_NUM
		,BOARDCOMENT_WRITER
		,BOARDCOMENT_CONTENT
		,TO_CHAR(BOARDCOMENT_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARDCOMENT_DATE
		,BOARD_NUM
	FROM BOARDCOMENT
	WHERE BOARD_NUM=#{boardNum}
	ORDER BY BOARDCOMENT_NUM ASC
</select>
<!-- qa게시판 댓글 조회 -->
 <select id="selectBoard2Coment" resultMap="board2Coment">
	SELECT BOARD2COMENT_NUM
		,BOARD2COMENT_WRITER
		,BOARD2COMENT_CONTENT
		,TO_CHAR(BOARD2COMENT_DATE,'YYYY-MM-DD HH24:MI:SS') AS BOARD2COMENT_DATE
		,BOARD2_NUM
	FROM BOARD2COMENT
	WHERE BOARD2_NUM=#{board2Num}
	ORDER BY BOARD2COMENT_NUM ASC
</select>

<!-- 자유게시판 댓글 등록  -->
<insert id="insertBoardComent">
	INSERT INTO BOARDCOMENT (
		BOARDCOMENT_NUM
		,BOARDCOMENT_WRITER
		,BOARDCOMENT_CONTENT
		,BOARD_NUM
		,BOARDCOMENT_EMAIL		
	) VALUES (
		(SELECT NVL(MAX(BOARDCOMENT_NUM) + 1 , 1) FROM BOARDCOMENT)
		,#{boardComentWriter}
		,#{boardComentContent}
		,#{boardNum}
		,#{boardComentEmail}		
	)
</insert>
<!-- qa게시판 댓글 등록  -->
<insert id="insertBoard2Coment">
	INSERT INTO BOARD2COMENT (
		BOARD2COMENT_NUM
		,BOARD2COMENT_WRITER
		,BOARD2COMENT_CONTENT
		,BOARD2_NUM
		,BOARD2COMENT_EMAIL		
	) VALUES (
		(SELECT NVL(MAX(BOARD2COMENT_NUM) + 1 , 1) FROM BOARD2COMENT)
		,#{board2ComentWriter}
		,#{board2ComentContent}
		,#{board2Num}
		,#{board2ComentEmail}		
	)
	
</insert>
<!--자유게시판 댓글삭제  -->
<delete id="deleteBoardComent">
		DELETE BOARDCOMENT
		WHERE BOARDCOMENT_NUM = #{boardComentNum}
    	AND BOARDCOMENT_EMAIL = #{boardComentEmail}
</delete>
<!--qa게시판 댓글삭제  -->
<delete id="deleteBoard2Coment">
		DELETE BOARD2COMENT
		WHERE BOARD2COMENT_NUM = #{board2ComentNum}
    	AND BOARD2COMENT_EMAIL = #{board2ComentEmail}
</delete>

<!-- 자유게시판 댓글수 -->
<select id="freeBoardComentCount" resultType="int">
	SELECT     
    MAX(BOARDCOMENT_NUM)
    FROM BOARDCOMENT
    WHERE BOARD_NUM = #{boardNum}
</select>
<!-- QA게시판 댓글수 -->
<select id="qaBoardComentCount" resultType="int">
	SELECT     
    MAX(BOARDCOMENT_NUM)
    FROM BOARD2COMENT
    WHERE BOARD2_NUM = #{board2Num}
</select>


</mapper>