<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼파일 생성 후 반드시 sql-map-config.xml 파일에 mapper 등록해줘야 함 -->
<mapper namespace="companyMapper">

	<resultMap type="com.spring.biz.vo.MemInfoVO" id="memInfo">
		<result column="MEM_EMAIL"           property="memEmail"/> 
		<result column="MEM_PASS"      	      property="memPass"/> 
		<result column="MEM_NAME"        	  property="memName"/> 
		<result column="MEM_AGE"         	  property="memAge"/> 
		<result column="MEM_GENDER"			  property="memGender"/> 
		<result column="MEM_BIRTH"		  	  property="memBirth"/>
		<result column="MEM_TEL1"     	  	  property="memTel1"/> 
		<result column="MEM_TEL2"          	  property="memTel2"/> 
		<result column="MEM_ADDR"          	  property="memAddr"/> 
		<result column="DEL_YN"           	  property="delYn"/> 
		<result column="MEM_JOIN_DATE"    	  property="memJoinDate"/> 
		<result column="IS_ADMIN"			  property="isAdmin"/> 
		<result column="MEM_IMAGE"        	  property="memImage"/> 
	</resultMap>

	
	
	<resultMap type="com.spring.biz.vo.CompanyInfoVO" id="companyInfo">
	<result column="COM_NUM"           		property="comNum"/> 
	<result column="COM_PASS"      	     	property="comPass"/> 
	<result column="COM_EMAIL"        		property="comEmail"/> 
	<result column="COM_NAME"         	  	property="comName"/> 
	<result column="COM_CEO"        		property="comCeo"/> 
	<result column="COM_LOC"        	 	property="comLoc"/> 
	<result column="COM_LOC_DETAIL"        	property="comLocDetail"/> 
	<result column="COM_TYPE"           	property="comType"/> 
	<result column="COM_TEL"           		property="comTel"/> 
	<result column="COM_JOIN_DATE"         property="comJoinDate"/> 
	<result column="COM_AVG_SCORE"         property="comAvgScore"/> 
	<result column="COM_GIVE_PERSON"       property="comGivePerson"/> 
	<result column="COM_SCORE"           	property="comScore"/> 
	<result column="COM_IMAGE"           	property="comImage"/> 
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.RecruitListVO" id="recruitlist">
		<result column="ANNOUNCE_NUM"            property="announceNum"/> 
		<result column="ANNOUNCE_TITLE"          property="announceTitle"/> 
		<result column="ANNOUNCE_CONTENT"        property="announceContent"/> 
		<result column="WRITE_DATE"         	  property="writeDate"/> 
		<result column="UPTO_HIREDATE"         	  property="uptoHiredate"/> 
		<result column="HIRE_NUM"         	 	  property="hireNum"/> 
		<result column="COM_NUM"         	 	  property="comNum"/> 
		<result column="JOBTYPE"         	  	  property="jobtype"/> 
		<result column="WORKTIME"         	  	  property="worktime"/> 
		<result column="WORK_TYPE"         	  	  property="workType"/> 
		<result column="ANNI_SAL"         	  	  property="anniSal"/> 
		<result column="QUALIFICATION"         	  property="qualification"/> 
		<result column="RESUME_FILE"         	  property="resumeFile"/> 
		<result column="HIRE_CONDITION"          property="hireCondition"/> 
		<result column="REGIST_IMAGE"         	  property="registImage"/> 
		<result column="BENEFIT"         	 	  property="benefit"/> 
		<result column="CAREER"         	 	  property="career"/> 
		<result column="ACADEMIC_BACKGROUND"     property="academicBackground"/> 
		<result column="AREA"         	 	  	  property="area"/> 
		
	</resultMap>
	<resultMap type="com.spring.biz.vo.ForRecruitVO" id="forRecruit">
		<result column="COM_NUM"            	  property="comNum"/> 
		<result column="PRO_NUM"            	  property="proNum"/> 
		<result column="PRO_TITLE"            	  property="proTitle"/> 
		<result column="PRO_CONTENT"            	  property="proContent"/> 
		<result column="ANNOUNCE_NUM"      	      property="announceNum"/> 
		<result column="COM_MYPAGE_NUM"        	  property="comMypageNum"/> 
		<result column="RESUME_NUM"         	  property="resumeNum"/> 
		<result column="RESUME_RESULT"         	  property="resumeResult"/> 
		<result column="COM_NAME"         	  property="comName"/> 
	</resultMap>
	
	<resultMap type="com.spring.biz.vo.MemResumeVO" id="memResume">
		<result column="RESUME_NUM"            property="resumeNum"/> 
		<result column="RESUME_NAME"      	    property="resumeName"/> 
		<result column="RESUME_DATE"        	property="resumeDate"/> 
		<result column="EDU_GRADE"         	  	property="eduGrade"/> 
		<result column="EDU_SCHOOL"         	property="eduSchool"/> 
		<result column="EDU_LOC"         	 	property="eduLoc"/> 
		<result column="EDU_TYPE"         	  	property="eduType"/> 
		<result column="EDU_MAJOR"         	  	property="eduMajor"/> 
		<result column="EDU_BEGIN_DATE"        property="eduBeginDate"/> 
		<result column="EDU_END_DATE"         	property="eduEndDate"/> 
		<result column="EDU_IS_OVER"         	property="eduIsOver"/> 
		<result column="MEM_EMAIL"         	  	property="memEmail"/> 
		<result column="HOPE_TYPE"         	  	property="hopeType"/> 
		<result column="HOPE_SAL"         	  	property="hopeSal"/> 
		<result column="HOPE_LOC"         	  	property="hopeLoc"/> 
		<result column="HOPE_TIME"         	  	property="hopeTime"/> 
		<result column="MEM_EMAIL"				property="memEmail"/>
		<result column="COM_MYPAGE_NUM"			property="comMypageNum"/>
		<result column="COM_NUM"				property="comNum"/>
		<result column="ANNOUNCE_NUM"			property="announceNum"/>
		<result column="RESUME_NUM"				property="resumeNum"/>
		<result column="RESUME_RESULT"			property="resumeResult"/>
		<result column="CAR_CAREER"			property="carCareer"/>
		<result column="CAR_TYPE"			property="carType"/>
		<result column="CAR_COMPANY"			property="carCompany"/>
		<result column="CAR_POSITION"			property="carPosition"/>
	</resultMap>
	
	<!-- 공고 등록 -->
	<insert id="registHumanSeeker">
	INSERT INTO RECRUIT_LIST (
    ANNOUNCE_NUM
    ,ANNOUNCE_TITLE
    ,ANNOUNCE_CONTENT
    ,UPTO_HIREDATE
    ,HIRE_NUM
    ,COM_NUM
    ,JOBTYPE
    ,WORKTIME
    ,WORK_TYPE
    ,ANNI_SAL
    ,QUALIFICATION
    ,BENEFIT
    ,REGIST_IMAGE
    ,CAREER
    ,ACADEMIC_BACKGROUND
    ,AREA
	)VALUES (
	 (SELECT NVL(MAX(ANNOUNCE_NUM)+1,1) FROM RECRUIT_LIST)
	 ,#{announceTitle}
	 ,#{announceContent}
	 ,#{uptoHiredate}
	 ,#{hireNum}
	 ,#{comNum}
	 ,#{jobtype}
	 ,#{worktime}
	 ,#{workType}
	 ,#{anniSal}
	 ,#{qualification}
	 ,#{benefit}
	 ,#{registImage}
	 ,#{career}
	 ,#{academicBackground}
	 ,#{area}
	)
	</insert>
	
<!-- 공고 리스트 -->
<select id="recruitlist"  resultMap="recruitlist">
	SELECT
    ANNOUNCE_NUM
    ,ANNOUNCE_TITLE
    ,ANNOUNCE_CONTENT
    ,UPTO_HIREDATE
    ,HIRE_NUM
    ,JOBTYPE
    ,WORKTIME
    ,WORK_TYPE
    ,ANNI_SAL
    ,QUALIFICATION
    ,BENEFIT
    ,REGIST_IMAGE
    ,CAREER
    ,ACADEMIC_BACKGROUND
    ,AREA
FROM RECRUIT_LIST
WHERE COM_NUM = #{comNum}
AND HIRE_CONDITION = 'Y'
ORDER BY UPTO_HIREDATE DESC
</select>
<!-- 공고 상세보기 -->
<select id="recruitDeteil"  resultMap="recruitlist">
	SELECT
    ANNOUNCE_NUM
    ,ANNOUNCE_TITLE
    ,ANNOUNCE_CONTENT
    ,UPTO_HIREDATE
    ,HIRE_NUM
    ,JOBTYPE
    ,WORKTIME
    ,WORK_TYPE
    ,ANNI_SAL
    ,QUALIFICATION
    ,BENEFIT
    ,REGIST_IMAGE
    ,CAREER
    ,ACADEMIC_BACKGROUND
    ,AREA
FROM RECRUIT_LIST
WHERE ANNOUNCE_NUM = #{announceNum}
</select>

<!-- 공고 수정 -->
<update id="registHumanSeekerUpdate">
	UPDATE RECRUIT_LIST SET
	    ANNOUNCE_TITLE = #{announceTitle}
	    ,ANNOUNCE_CONTENT = #{announceContent}
	    ,UPTO_HIREDATE = #{uptoHiredate}
	    ,HIRE_NUM = #{hireNum}
	    ,JOBTYPE = #{jobtype}
	    ,WORKTIME = #{worktime}
	    ,WORK_TYPE = #{workType}
	    ,ANNI_SAL = #{anniSal}
	    ,QUALIFICATION = #{qualification}
	    ,BENEFIT = #{benefit}
	    <if test="registImage != null">
	    ,REGIST_IMAGE = #{registImage}
	    </if>
	    ,CAREER = #{career}
	    ,ACADEMIC_BACKGROUND = #{academicBackground}
	    ,AREA = #{area}
    WHERE ANNOUNCE_NUM = #{announceNum}
</update>
<!-- 공고 다중 삭제 -->
<update id="recruitDeleteList">
UPDATE RECRUIT_LIST SET HIRE_CONDITION = 'N'
WHERE ANNOUNCE_NUM IN 
<foreach collection="array" item="announceNum" open="(" close=")" separator=",">#{announceNum}</foreach>
</update>
<!-- 사업가 정보 조회 -->
<select id="selectMyCom" resultMap="companyInfo">
	SELECT
		COM_NUM
	    ,COM_EMAIL
	    ,COM_PASS
	    ,COM_NAME
	    ,COM_CEO
	    ,COM_LOC
	    ,COM_LOC_DETAIL
	    ,COM_TYPE
	    ,COM_TEL
	FROM COMPANY_INFO
	WHERE COM_NUM = #{comNum}
</select>
	
	<!-- 사업가 정보 수정 -->
	<update id="myComUpdate">
	UPDATE COMPANY_INFO SET
		COM_EMAIL = #{comEmail}
		,COM_NAME = #{comName}
		,COM_CEO = #{comCeo}
		,COM_LOC = #{comLoc}
		,COM_LOC_DETAIL = #{comLocDetail}
		,COM_TYPE = #{comType}
		,COM_TEL = #{comTel}
		,COM_IMAGE = #{comImage}
	WHERE COM_NUM = #{comNum}
	</update>
	
	<!-- 이력서 조회 -->
	<select id="resumeInquiryList" resultMap="memResume">
		SELECT
		    COM_MYPAGE_NUM
		    ,COM_NUM
		    ,ANNOUNCE_NUM
		    ,C.RESUME_NUM
		    ,RESUME_NAME
		    ,RESUME_DATE
		    ,EDU_GRADE
		    ,EDU_SCHOOL
		    ,EDU_LOC
		    ,EDU_TYPE
		    ,EDU_MAJOR
		    ,EDU_BEGIN_DATE
		    ,EDU_END_DATE
		    ,EDU_IS_OVER
		    ,HOPE_TYPE
		    ,HOPE_SAL
		    ,HOPE_TIME
		    ,HOPE_LOC
		    ,MEM_EMAIL
		    ,RESUME_RESULT
		    ,(SELECT COM_NAME FROM COMPANY_INFO WHERE COM_NUM = #{comNum}) AS COM_NAME
		FROM COM_MYPAGE C, MEM_RESUME P
		WHERE COM_NUM = #{comNum}
		AND C.RESUME_NUM = P.RESUME_NUM
		ORDER BY COM_MYPAGE_NUM
	</select>
	
	<!-- 이력서 합격 불합격 -->
	<update id="resumeResultUpdate">
	UPDATE COM_MYPAGE SET
	<if test="ynN == 1">
	RESUME_RESULT = 'Y' 
	</if> 
	<if test="ynN == 0">
	RESUME_RESULT = 'N' 
	</if> 
	WHERE COM_MYPAGE_NUM = #{comMypageNum}
	</update>
	
</mapper>
